<div class="header header-back">
  <div>
    <p class="sp-details-title">
      <span class="fa-fw fa fa-wifi fa-lg"></span> Enter password
    </p>
  </div>
  <div class="header-options">
    <span class="back-btn no-margin" [routerLink]="''">{{
      "GENERAL.BACK_TO_HOME" | translate
    }}</span>
  </div>
</div>

<div class="small-width">
  <div class="setting-form">
    <div class="s-input-group">
      <div>
        <p class="password-label">Password</p>
      </div>
      <input
        type="password"
        class="s-input"
        (change)="onInputChange($event)"
        [(ngModel)]="value"
        autocomplete="off"
      />
    </div>
    <button class="s-btn" (click)="setWifi()">Connect</button>
  </div>
</div>

<!-- <div class="password-edit-form">
  <div class="s-input-group">
    <div>
      <p class="password-label">Password</p>
    </div>
    <input
      type="password"
      class="s-input"
      (change)="onInputChange($event)"
      [(ngModel)]="value"
      autocomplete="off"
    />
  </div>
  <button class="s-btn" (click)="setWifi()">Connect</button>
</div> -->

<div class="keybox">
  <select
    class="changeLang"
    name=""
    id=""
    [(ngModel)]="lang"
    (change)="changeLang($event)"
  >
    <option value="persian">فارسی</option>
    <option value="english">English</option>
  </select>

  <div class="simple-keyboard"></div>
</div>
