.setting-form-container {
    width: 100%;
    height: 100%;
  }

  .form-title {
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 2rem;
  }

  .password-edit-form{
    margin-top: 2rem;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 60% 33%;
    grid-gap: 20px;
    grid-template-areas: 'pass-input pass-btn';
    align-items: center;
    width: 100%;

  }


  .password-label {
    font-size: 1.2rem;
    color: var(--text-color);

  }

  .s-input {
    grid-area: pass-input;
    border-radius: 5px;
    width: 100%;
    padding: 0.6rem;
    background-color: var(--surface-d);
    border: none;
    outline: none;
    color: var(--text-color);
  }

  .s-btn {
    grid-area: pass-btn;
    border-radius: 5px;
    margin-top: 2.5rem;
    height: 50%;
    // width: 60%;
    background-color: var(--ui-green);
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 1.3rem;
  }

  .simple-keyboard {
    margin-top: 2rem;
    max-width: 100%;
  }

  /*
      Theme: myTheme1
    */
  .simple-keyboard.myTheme1 {
    background-color: var(--surface-d);
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .simple-keyboard.myTheme1 .hg-button {
    font-family: Vazir;
    height: 50px;
    border: none;
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
    align-items: center;
    background: var(--surface-d);
    color: var(--text-color);
  }

  .simple-keyboard.myTheme1 .hg-button:active {
    background: #1c4995;
    color: var(--text-color);
  }

  #root .simple-keyboard.myTheme1 + .simple-keyboard-preview {
    background: #1c4995;
  }

