# See http://help.github.com/ignore-files/ for more about ignoring files.

bin
obj
database.db
publishAPI.bat

# compiled output
/ClientApp/tmp
/ClientApp/dist
/ClientApp/out-tsc
# Only exists if Bazel was run
/ClientApp/bazel-out

# dependencies
node_modules

# profiling files
/ClientAppchrome-profiler-events*.json
/ClientAppspeed-measure-plugin*.json

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
/.vscode

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
appsettings.json
appsettings.json
appsettings.json
ClientApp/Electron/node_modules

/shserver
ClientApp/Electron/dist
