<div class="dashboard-container">
  <weather-widget class="weather-item"></weather-widget>
  <energy-widget class="energy-item"></energy-widget>
  <sh-windoors-qa class="windoor-section"></sh-windoors-qa>
  <div class="bottom-sec"></div>
</div>

<!-- <div class="dashboard-container row">
  <weather-widget class="col-lg-4 col-md-11 mx-auto "></weather-widget>
  <div class="sec-two col-lg-4 col-md-11 mx-auto ">
    <div class="er-mega-title">{{'DASHBOARD.HOME_ENERGY' | translate}}</div>
    <div class="row">
      <sh-energy-report class="col-lg-12 col-md-6 col-sm-6 col-xs-6" [outOfRange]="false" [type]="translate.instant('DASHBOARD.LAST_DAY')" [amount]="816"></sh-energy-report>
      <sh-energy-report class="col-lg-12 col-md-6 col-sm-6 col-xs-6" [outOfRange]="true" [type]="translate.instant('DASHBOARD.LAST_MONTH')" [amount]="2512"></sh-energy-report>
    </div>
    <button [routerLink]="'/smartplug/smart-plugs'" class="er-button">{{'DASHBOARD.GENERATE_REPORT' | translate}}</button>
  </div>
  <div class="col-lg-4 col-md-12 mx-auto">
    <div class="top">
      <sh-windoors-qa></sh-windoors-qa>
    </div>
    <div class="bottom">S-bottom</div>
  </div>
</div> -->
